name: Greetings

on: [issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Hello there! Welcome to flutter-awesome-ui library, You made your first issue, Thank you for contributing!'' first issue'
        pr-message: 'Hello there! Welcome to flutter-awesome-ui library, You made your first pull request, Thank you for contributing!'' first pr'
